
a {
	color: #3f7e15;
}

a:hover, a:active, a:focus {
	color: #3f7e15;
}

ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus {
	border: 1px solid #3f7e15;
	background: #3f7e15;
}

.counter span {
	background: #3f7e15;
	border: 1px solid #3f7e15;
}

#jasdl-mainnav li.active a,/*dropline*/
#jasdl-mainnav li.active a:hover,
#jasdl-mainnav li.active a:active,
#jasdl-mainnav li.active a:focus, 
#ja-splitmenu li.active a,/*split*/
#ja-splitmenu li.active a:hover,
#ja-splitmenu li.active a:active,
#ja-splitmenu li.active a:focus,
#ja-cssmenu li a.active,/*split + moo*/
#ja-cssmenu li a.active:hover,
#ja-cssmenu li a.active:active,
#ja-cssmenu li a.active:focus {
	background: url(../../images/green/mainnav-active.gif) repeat-x top #3f7e15;
}

#ja-subnav ul li ul li a.active {
	color: #3f7e15 !important;
}

#ja-subnav ul.active {
	background: #3f7e15;
}

#ja-subnav ul.active li {
	border-left: 1px solid #7EB35B;
}

#ja-subnav ul.active li:first-child {
	border-left: 0;
}

/* colour 2 */
.leading { background-color: #F0F7EB; }