#ja-cssmenu {
	margin: 0; /* all lists */
	padding: 0;
}

#ja-cssmenu ul {
	margin: 0; /* all lists */
	padding: 0;
}

#ja-cssmenu li {
	margin: 0; /* all list items */
	padding: 0;
	float: left;
	display: block;
	background:url(../../images/grad1-mask.png);
	/*background:	#CCCCCC ; /* mau memu) #3399FF  vang la chinh	#F98300*/
	border-right: 1.2px solid  #00CCFF; /*mau cach giua  noi muc menu*/
	/*border-bottom: 1px solid #CC0000;*/
	cursor: pointer;
}

#ja-cssmenu li ul {
	width: 18em;
	position: absolute; /* second-level lists */
	z-index: 99;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	height: auto;
	width: 18em; /*rong cua khung menu2 15.9*/
}

#ja-cssmenu li ul ul {
	margin: -2em 0 0 16em; /* third-and-above-level lists */
}

#ja-cssmenu li li {
	padding: 0 1em 0 0;
	margin: 0;
	width: 14.9em;/* chieu rong menu con 14.9em;*/
}

#ja-cssmenu ul a {
	width: 14.8em;
	width: 10.8em;
}

#ja-cssmenu li:hover ul ul, #ja-cssmenu li:hover ul ul ul,
#ja-cssmenu li.sfhover ul ul, #ja-cssmenu li.havechildsfhover ul ul, #ja-cssmenu li.havechild-activesfhover ul ul, #ja-cssmenu li.activesfhover ul ul,
#ja-cssmenu li.sfhover ul ul ul, #ja-cssmenu li.havechildsfhover ul ul ul, #ja-cssmenu li.havechild-activesfhover ul ul ul, #ja-cssmenu li.activesfhover ul ul ul {
	left: -999em;
}

/* This "unhides" the sub-menus (left: -999em is what hides them) */
#ja-cssmenu li:hover ul, #ja-cssmenu li li:hover ul, #ja-cssmenu li li li:hover ul,
#ja-cssmenu li.sfhover ul, #ja-cssmenu li.havechildsfhover ul, #ja-cssmenu li.havechild-activesfhover ul, #ja-cssmenu li.activesfhover ul,
#ja-cssmenu li li.sfhover ul, #ja-cssmenu li li.havesubchildsfhover ul, #ja-cssmenu li li.havesubchild-activesfhover ul, #ja-cssmenu li li.activesfhover ul,
#ja-cssmenu li li li.sfhover ul, #ja-cssmenu li li li.havesubchildsfhover ul, #ja-cssmenu li li li.havesubchild-activesfhover ul, #ja-cssmenu li li li.activesfhover ul {
	left: auto;
}

/* STYLING THE MENU
-----------------------------------*/
/* 1st level */
#ja-cssmenu li a {
	display: block;
	text-decoration: none;
	padding: 10px;
	border-bottom-color:#FF0000;
	color: #FFFFFF; /*mau chu menu ngang header */
	/*text-transform: UPPERCASE; /* kieu chu menu*/
	font-weight: bold;
	font-family:Arial;
	font-size:13px;

	
	/* background:  url(../../images/mainnav-active.gif); --*/
}

#ja-cssmenu li a:hover,
#ja-cssmenu li a:active,
#ja-cssmenu li a:focus {
}

#ja-cssmenu li:hover,
#ja-cssmenu li.sfhover,
#ja-cssmenu li.havechildsfhover,
#ja-cssmenu li.havechild-activesfhover {
	 ; /* mau khi di chuyen doi mau do cho menu  background: 	#FF0000*/
	/*background: url(../../images/mainnav-hover.gif) repeat-x bottom #f7f7f7; */
	color:	#FF33FF;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
}

#ja-cssmenu li a.active,
#ja-cssmenu li a.active:hover,
#ja-cssmenu li a.active:active,
#ja-cssmenu li a.active:focus {
	/* tai phan home */
	color: #fff;
	

}

/* 2nd level and above */
#ja-cssmenu li ul {
	border: 1px solid #ccc;
	border-top: 0;
	background:		#0083D2/* #3399FF; /*url(../../images/grad1.gif); /* mau menu do xuong */
}

#ja-cssmenu li ul li {
	border-bottom: 1px solid #ccc;
	border-right: none;
	background: none; /* mau nen toan submenu)*/
}

#ja-cssmenu li ul a {
	border: none;
	margin: 0;
	padding: 5px 10px 6px;
	line-height: normal;
	background: none;
	color:	#ffffff; /* mau chu menu do xuong */
	font-size: 12.5px;
	font-family: Arial;
	font-weight:bold;
}

#ja-cssmenu li.havesubchild,
#ja-cssmenu li.havesubchild-active {
	background: url(../../images/arrow3.png) no-repeat 94% 50%;
}

#ja-cssmenu li ul a:hover,
#ja-cssmenu li ul a:active,
#ja-cssmenu li ul a:focus,
#ja-cssmenu ul li:hover,
#ja-cssmenu ul li.sfhover,
#ja-cssmenu ul li.havesubchildsfhover,
#ja-cssmenu ul li.havesubchild-activesfhover,
#ja-cssmenu ul ul li:hover,
#ja-cssmenu ul ul li.sfhover,
#ja-cssmenu ul ul li.havesubchildsfhover,
#ja-cssmenu ul ul li.havesubchild-activesfhover {
	background:	url(../../images/grd2_menu.jpg);/*#FF0000; /* mau khi di chuyen menu mau do*/
	color:	#000066/*#FFFF00;*/
	}

#ja-cssmenu ul li a.active,
#ja-cssmenu ul li a.active:hover,
#ja-cssmenu ul li a.active:active,
#ja-cssmenu ul li a.active:focus {
	background: none !important;
	/*color:  #FF00FF;* not font coloer tim khi kich ho?t*/
	font-weight: bold;
	/*text-decoration: underline;*/
}

